<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Portfolio Website</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- Header with Navbar -->
    <header>
        <nav class="navbar">
            <img src="ah.jpg" alt="Ahmer Othi" class="top-right-img">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact Me</a></li>
                
            </ul>
        </nav>
    </header>

    <!-- Projects Section -->
    <section id="Projects">
        <h1 class="headings">Projects</h1>
        <div class="row">
            <div class="box">
                <h1 class="headings">Python</h1>
                <p> I have a strong foundation in programming, particularly in Python, where I’ve developed skills in writing clean code, problem-solving, and building simple applications. I’m passionate about exploring new technologies and improving my abilities. I’m eager to take on challenging projects, contribute to innovative solutions, and expand my expertise in software development.</p>

            </div>
            <div class="box">
                <h1 class="headings">Technical Communication</h1>
                <p> I completed a Technical Communication course that improved my ability to convey complex ideas clearly and concisely. I learned to structure documents, create user-friendly reports, and present information professionally. These skills complement my programming knowledge by helping me communicate effectively with both technical and non-technical audiences.</p>
            </div>
            <div class="box">
                <h1 class="headings">Excel</h1>
                <p>I completed a Business Analytics course where I gained practical experience in Excel for data analysis. I learned to manipulate data, create pivot tables, generate reports, and perform analytical functions to support decision-making. This course improved my ability to work with data efficiently and apply business analytics to solve problems.</p>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <p>Contact me via email: <a href="mailto:example@example.com">ahmer.othi@ontariotechu.net</a></p>
            <p>&copy; 2024 by Ahmer Othi.</p>
        </div>
    </footer>
</body>

</html>