<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me - Portfolio Website</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Header with Navbar -->
    <header>
        <nav class="navbar">
            <img src="ah.jpg" alt="Ahmer Othi" class="top-right-img">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="contact.html">Contact Me</a></li>
            </ul>
        </nav>
    </header>

    <!-- Contact Section -->
    <section id="contact">
        <h1 class="headings">CONTACT</h1>
        <form action="" class="form">
            <input type="text" name="name" class="input" placeholder="Enter Your Name">
            <input type="email" name="email" class="input" placeholder="Enter Your Email">
            <textarea type="msg" name="msg" class="input" rows="10" placeholder="Enter your thoughts"></textarea>
            <input type="submit" value="SEND" id="send">
        </form>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="footer-content">
            <p>Contact me via email: <a href="mailto:example@example.com">ahmer.othi@ontariotechu.net</a></p>
            <p>&copy; 2024 by Ahmer Othi</p>
        </div>
    </footer>
</body>
</html>
